# Goal:
Identify which college names are different between the NBA draft dataset and the current data residing in our database to make joins work. This notebook should be executed before the `nba_draft_rankings_scraping_and_sql_insert` notebook.

Import libraries for data manipulation and database connection

In [1]:
import pandas as pd
import getpass
import psycopg2
from psycopg2.extensions import adapt, register_adapter, AsIs

Login into the database with credentials

In [2]:
mypasswd = getpass.getpass()
conn = psycopg2.connect(database = 'cs20_group4',
                              user = 'fhfrf', #replace with pawprint
                              host = 'pgsql.dsa.lan',
                              password = mypasswd)

········

Grab unique list of college names from the current data and store in master_table_colleges and convert to list

In [3]:
master_table_colleges = pd.read_sql_query('SELECT DISTINCT school FROM player_master_table', con = conn)

In [4]:
master_table_colleges = master_table_colleges.school.tolist()

Do the same for the college names in the NBA draft rankings dataset

In [5]:
draft_table_colleges = pd.read_sql_query('SELECT DISTINCT school_or_team FROM nba_top100_prospect_rankings', con = conn)

In [6]:
draft_table_colleges = draft_table_colleges.school_or_team.tolist()

Compare the datasets and list the names that are present in the NBA draft dataset but not in our current master data table. After the work has been completed, we should only see NBA G-League teams and European teams.

In [7]:
set(draft_table_colleges).difference(set(master_table_colleges))

{'',
 '0',
 'ASVEL',
 'ASVEL Villeubanne',
 'Adelaide 36ers',
 'Anadolu Efes',
 'Angelico Biella',
 'Asefa Estudiantes',
 'Australia',
 'Avtodor',
 'BC Donetsk',
 'BC Igokea',
 'BC Kyiv',
 'BC Triumph',
 'BS DSN',
 'Bahia Basket',
 'Barcelona Regal',
 'Baunach',
 'Bayern Munich',
 'Belgacom Spirou',
 'Benetton Treviso',
 'Bornova (Turkey)',
 'Brose Bamberg',
 'Brose Baskets',
 'CB Granada',
 'CB Murcia',
 'Cajasol Sevilla',
 'Cedevita Zagreb',
 'Chalon',
 'Cholet',
 'Cholet Basket',
 'Cibona Zagreb',
 'Crvena Zvezda',
 'DKV Joventut',
 'Delaware 87ers',
 'Denain',
 'Dnipro Dnepropetrovsk (Ukraine)',
 'Dnipro Dnipropetrovsk',
 'Dynamo Moscow',
 'EA7 Milano',
 'Estudiantes',
 'FC Barcelona',
 'FMP Belgrade',
 'FMP Zeleznik',
 'Fenerbahce Ulker',
 'Fenerbahe Ulke',
 'Filathlitikos',
 'Flamengo',
 'Fraport Frankfurt',
 'Fuenlabrada',
 'Galatasaray',
 'Gipuzkoa Basket',
 'Gran Canaria',
 'Guangdong',
 'Hapoel Migdal Jerusalem',
 'Hemofarm',
 'JUCO',
 'KK Partizan',
 'Lagun Aro GBC',
 'Le Mans',
 'Leuven',
 'Lietuvos Rytas',
 'Limoges CSP',
 'Lottomatica Virtus Roma',
 'Maccabi Rishon Lezion',
 'Maccabi Tel Aviv',
 'Mali',
 'Mega Bemax',
 'Mega Leks',
 'Mega Vizura',
 'Mykolayiv',
 'N/A',
 'Nanterre',
 'Nanterre 92',
 'New Mexico Thunderbirds',
 'New Yorker Phantoms Braunschweig',
 'Olimpia Milano',
 'Olympiacos',
 'Pamesa Valencia',
 'Panathinaikos',
 'Partizan Belgrade',
 'Pau-Lacq-Orthez',
 'Paulistano',
 'Ratiopharm Ulm',
 'Real Madrid',
 'Red Star',
 'Regal FC Barcelona',
 'Reggio Emilia',
 'Roanne',
 'SESI/Franca',
 'SPO Rouen',
 'Souffel',
 'South Dragons',
 'Spirou Charleroi (Belgium)',
 'Stella Azzurra',
 'Strasbourg',
 'Sydney Kings',
 'TBB Trier',
 'Telekom Baskets Bonn',
 'Tokyo Apache',
 'Tulsa 66ers (D-League)',
 'UCAM Murcia',
 'USA',
 'Undecided',
 'Unicaja Malaga',
 'Union Olimpija',
 'Union Poitiers Basket 86',
 'Valencia',
 'Ventspils',
 'Virtus Roma',
 'Weber St.',
 'Xinjiang',
 'Zalgiris Kaunas'}